*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
 
 body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(239, 237, 233);
    padding: 0 40px;
    line-height: 1.5;
}


#Cancle {
    background-color: #007bff; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: 10px; 
    border-radius: 5px; 
    margin-right: 20px; 
  }
  
  
  #stop {
    background-color: #dc3545; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: 20px;
    border-radius: 5px; 
    margin: 20px;
    display: flex;
    justify-content: flex-end;
  }

   
  #start {
    background-color: #c23984; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: 20px;
    border-radius: 5px; 
    margin: 20px;
  } 

  h2{
    text-align: center;
    line-height: 1.8;
    padding: 0 40px;
    margin-top: 20px;
  }

  button{
    display: inline-block;
    background-color: #333;
   border: 0;
   color: #ffff;
   padding: 15px 20px;
   text-decoration: none;
   margin: 20px 0;
   cursor: pointer;
   border-radius: 10px;
   justify-content: flex-end;
   cursor: pointer;
  }

  button:hover{
    background: #555;
  }

  .danger{
    background: red;
  }

  h1{
    text-align: center;
    line-height: 1.3;
  }

  #posts{
    list-style: none;
    background: #f4f4f4;
    margin: 5px;
    padding: 15px;
    line-height: 1.8;
    display: contents;
    background-color: #333;
  }
 ul{
  line-height: 1.5;
 }

  li{
    list-style: none;
    background: #f4f4f4;
    margin-bottom: 5px;
    padding: 5px;
  }